<div class = "heading">
  <h1>Snakes and Ladders</h1>
</div>

<section class="white-section" id="features">
  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-4">
        <h3 class="feature-title">Player1</h3>
        <p>This is Player 1</p>
        <app-player1></app-player1>
      </div>

      <div class="feature-box col-lg-4">
        <h3 class="feature-title">Board</h3>
        <p>This is the board</p>
        <app-board></app-board>
      </div>

      <div class="feature-box col-lg-4">
        <h3 class="feature-title">Player2</h3>
        <p>This is player 2</p>
        <app-player2></app-player2>
      </div>
    </div>

  </div>
</section>