<div class = "heading">
  <h1>Snakes and Ladders</h1>
</div>

<section class="white-section" id="features">
  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-4">
        <h3 class="feature-title">Player1</h3>
        <p>🔴</p>
        <app-player1 (playerValue1) = "p1=$event"></app-player1>
      </div>

      <div class="feature-box col-lg-4">
        <h3 class="feature-title">Board</h3>
        <p></p>
        <app-board [p1Value]="p1" [p2Value]="p2" ></app-board>
      </div>

      <div class="feature-box col-lg-4">
        <h3 class="feature-title">Player2</h3>
        <p>🔵</p>
        <app-player2 (playerValue2) = "p2=$event"></app-player2>
      </div>
    </div>

  </div>
</section>

<!-- {{p1}} -->