 table{
  table-layout:fixed;
  margin: auto;
 }
 
 td {
    padding: 10px;
    border:2px solid black;
    word-wrap:break-word;
  }

  .dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
  }